h1,
.title-head {
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    color: #212b25;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.info-page {
    .name-account {
        margin-bottom: 40px;
    }
}

.order-page {
    .my-account .recent-orders .table > tbody > tr > td {
        font-size: 14px;
        color: #000;
        vertical-align: middle;
    }
    @media (min-width: 768px) {
        .my-account .dashboard .recent-orders .thead-default {
            border-top: 1px solid #e1e1e1;
        }
    }
}

.change-pass-page {
    form {
        margin-bottom: 30px;
    }
    .page-login .form-group {
        margin-bottom: 5px;
    }

    .form-group {
        margin: 0;
        padding: 0 0 8px;
        border: 0;
    }
    .page-login .form-group label {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;
        align-items: center;
    }

    #change_customer_password input[type="text"],
    #change_customer_password input[type="email"],
    #change_customer_password input[type="number"],
    #change_customer_password input[type="tel"],
    #change_customer_password input[type="password"],
    #change_customer_password select.form-control {
        background: #fafafa !important;
        height: auto;
        padding: 0 15px;
        outline: none;
        box-shadow: none;
        border-color: #ececec;
        min-height: 45px;
    }

    .btn-edit-addr {
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 600;
        font-size: 14px;
        min-height: 40px;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
    }

    .form-group .form-control {
        display: block;
        width: 100%;
        min-height: 40px;
        padding: 0.375rem 0.75rem;
        font-size: 1em;
        line-height: 1.5;
        color: #333;
        background-color: #f9f9f9;
        background-image: none;
        margin: 0;
    }
}
